
/* --------------- event info page styles */
.body-content{
  display: flex;
  flex-direction: column;
  align-items: center;

  gap:20px

}

.event-info-container{
  display: flex;
  flex-direction: column;
}
.event-contenders{
  display: flex;
  flex-direction: row;
}


/*------------- Show all bets style--------------*/
body{
	background-color: lightgray;
}

/*------------- Show all bets--------------*/

.event-sort-container{
	display:flex;
	flex-direction:row;
}

.event-list-container {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 10px;
}

.event-card {
  background-color: white;
  padding: 1%;
  display: flex;
  flex-direction: row;
  min-width: 50%;
  max-width: 50%;
  overflow: scroll;
}

.event-info-container{
  margin: 1%;
}


.category-container {
  display: flex;
  flex-direction: row;
  row-gap:  10px;
  margin-bottom: 2px;
}

.tag {
  margin-right: 10px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: x-small;

  border-radius: 10px;
}

.category {
  color: rgb(225, 225, 225);
  background-color: rgb(48, 153, 70);
}

.sub-category {
  color: rgb(30, 33, 36);
  background-color: rgb(254, 182, 53);
}

/*---------------------------*/
.hidden {
    display: none;
}
